header {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #461f24;
  height: 100px;
  width: 100%;
  font-family: arial;
}

header h1 {
  position: absolute;
  top: 10px;
  left: 500px;
  color: #c8eded;
  
}

#form-section {
  position: relative;
  top: 150px;
  width: 250px;
  height: 80px;
  margin: 0 auto;
}

tbody label {
  font-family: arial;
  font-size: 17px;
  font-weight: 500;
}



input[type=text], input[type=password]{
  padding: 5px;
}

input[type=submit]{
padding: 5px;
width: 80px;
}

#err-msg {
    color: red;
}

footer {
  position: fixed;
  top: 600px;
  font-size: 12px;
  font-family: arial;
}