<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>libraryManagementSystem</display-name>
    
    <servlet>
        <servlet-name>homeJsp</servlet-name>
        <jsp-file>/jsp/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeJsp</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>com.rakesh.librarymanagementsystem.filter.AuthenticationFilter</filter-class>
    </filter>
    <!--<filter>
        <filter-name>authorizationFilter</filter-name>
        <filter-class>com.rakesh.librarymanagementsystem.filter.AuthorizationFilter</filter-class>
    </filter>-->
     
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/home</url-pattern>
    </filter-mapping>
   <!-- <filter-mapping>
        <filter-name>authorizationFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>-->
    
    <servlet>
        <servlet-name>addLibrarian</servlet-name>
        <servlet-class>com.rakesh.librarymanagementsystem.controller.AddLibrarianController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addLibrarian</servlet-name>
        <url-pattern>/addLibrarian</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registrationLinkServlet</servlet-name>
        <servlet-class>com.rakesh.librarymanagementsystem.controller.RegistrationLinkController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationLinkServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>com.rakesh.librarymanagementsystem.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/librarianRegistration</url-pattern>
    </servlet-mapping>
    
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/worldDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error404.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
